/* CLASSES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    background-color: transparent;
}

.nav__links li,
.nav__links a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #26262b;
    align-items: center;
    padding: 10px 10px;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: tomato;
}

.heading {
    font-family: 'Ubuntu', sans-serif;
    z-index: 1;
    text-align: center;
    color: #fff;
    margin: 45px 50px;
}

.heading .site-title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 50px;
    display: block;
    line-height: 1;
    color: #61dafb
}

.heading .site-description {
    font-size: 20px;
    display: block;
    line-height: 1.4;
    color: #fff;
    margin-top: 10px
}

body {
    position: fixed;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    color: #26262b;
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
strong {
    margin-top: 1em;
    padding-top: 1em;
    line-height: 1.25;
    color: #333
}

h1 {
    font-size: 2.5rem
}

h2 {
    font-size: 2rem
}

h3 {
    font-size: 1.5rem
}

h4 {
    font-size: 1rem
}

ol,
ul {
    padding-left: 40px
}

ol,
p,
ul {
    margin: 1em 0
}

.download {
    margin: 40px 0 20px
}

.download a {
    transition: all .5s;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    padding: 9px 18px;
    font-size: 23px;
    border-radius: 10px;
    display: inline-block;
    margin: 0 15px 20px
}

.download a:hover {
    color: #fff;
    background-color: #000 !important;
    border-color: #000;
}

.keader {
    margin-top: 0;
    padding-top: 30px;
    -webkit-animation: keader 1.4s;
    -moz-animation: keader 1.4s;
    -ms-animation: keader 1.4s;
    -o-animation: keader 1.4s;
    animation: keader 1.4s
}

.tanimation {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.kago {
    -webkit-animation-name: kago;
    animation-name: kago
}


/* CLASSES END */


/* KEYFRAMES */

@-webkit-keyframes kago {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.2, .6, .34, 1);
        animation-timing-function: cubic-bezier(.2, .6, .34, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -2902px, 0);
        transform: translate3d(0, -2902px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0)
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes kago {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0)
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes keader {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-moz-keyframes keader {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes keader {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-ms-keyframes keader {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-o-keyframes keader {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}


/* KEYFRAMES END */


/* ID */

#about {
    font-size: 120%;
    width: 90%;
    margin: 0 auto;
    max-width: 960px
}

#notice {
    color: #ff726f;
}

#particles-js {
    background: #26262b;
    display: flex;
    vertical-align: bottom;
    min-height: 100vh;
    justify-content: center;
    overflow: auto;
    min-width: 240px;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}


/* ID END */


/* RESPONSIVE */

@media(min-width:768px) {
    .heading .site-title {
        margin: 0;
        font-size: 64px;
        padding-bottom: 5px
    }
    .heading .site-description {
        font-size: 29px
    }
}

@media(max-width:767px) {
    .download a {
        margin-left: 8px;
        margin-right: 8px
    }
    .heading {
        margin: 40px 25px
    }
}


/* RESPONSIVE END */